.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        gap: 40px;
        margin: 40px 85px;
    }
    @media (max-width: 480px) {
        gap: 20px;
        margin: 20px;
    }
}

.contact-title{
    position: relative;
}

.contact-title h1{
    padding: 0px 30px;
    font-weight: 600;
    font-size: 80px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        font-size: 60px;
    }
    @media (max-width: 480px) {
        font-size: 40px;
    }
}

.contact-title img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.contact-section{
    display: flex;
    gap: 150px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 40px;
    }
}

.contact-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-left h1{
    font-size: 80px;
    font-weight: 700;
    background: linear-gradient(270deg, #DF8908 80%, #B415FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        font-size: 60px;
    }
    @media (max-width: 480px) {
        font-size: 40px;
    }
}

.contact-left p{
    max-width: 550px;
    color: #D8D8D8;
    font-size: 20px;
    line-height: 35px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        max-width: 100%;
        font-size: 18px;
        line-height: 25px;
    }
    @media (max-width: 480px) {
        font-size: 16px;
        line-height: 20px;
    }
}

.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #D8D8D8;
    font-size: 22px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        gap: 20px;
        font-size: 20px;
    }
    @media (max-width: 480px) {
        gap: 15px;
        font-size: 18px;
    }
}

.contact-detail{
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}

.contact-right label{
    color: #D8D8D8;
    font-size: 22px;
    font-weight: 500;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        font-size: 20px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
    }
}

.contact-right input{
    border: none;
    width: 700px;
    height: 78px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 20px;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        width: 100%;
        height: 60px;
        font-size: 18px;
    }
    @media (max-width: 480px) {
        width: 100%;
        height: 50px;
        font-size: 16px;
    }
}

.contact-right textarea{
    width: 650px;
    border: none;
    padding: 25px;
    border-radius: 4px;
    background: #32323c;
    font-family: Outfit;
    font-size: 20px;
    color: #A0A0A0;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
    @media (max-width: 480px) {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}

.contact-submit{
    border: none;
    color: white;
    border-radius: 50px;
    background: linear-gradient(264deg,#DF8908 -5.09%, #B415FF 106.28%);
    font-size: 22px;
    padding: 20px 60px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.3s;
    /* Responsive adjustments */
    @media (max-width: 768px) {
        font-size: 20px;
        padding: 15px 40px;
        margin-bottom: 30px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
        padding: 10px 30px;
        margin-bottom: 20px;
    }
}

.contact-submit:hover{
    transform: scale(1.1);
    transition: 0.3s;
}